flows.json
[{"id":"90a4a45.fb781d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5fbf90fa.1f8e8","type":"inject","z":"90a4a45.fb781d8","name":"nishitha","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":80,"wires":[["d76f0080.5f826"]]},{"id":"d76f0080.5f826","type":"debug","z":"90a4a45.fb781d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":80,"wires":[]},{"id":"939d70f7.82414","type":"ibmiot in","z":"90a4a45.fb781d8","authentication":"apiKey","apiKey":"de059dde.6fa89","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"2501","applicationId":"","deviceType":"Nishitha_","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":190,"y":160,"wires":[["2116aaf1.b9f586","ba2ada81.1a0f98","bd42b645.103978","6025120b.69f8bc"]]},{"id":"2116aaf1.b9f586","type":"function","z":"90a4a45.fb781d8","name":"Temperature","func":"global.set('Temperature',msg.payload.Temperature)\nmsg.payload=msg.payload.Temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":140,"wires":[["d76f0080.5f826","f83ef0ea.e3a48"]]},{"id":"ba2ada81.1a0f98","type":"function","z":"90a4a45.fb781d8","name":"Humidity","func":"global.set('Humidity',msg.payload.Humidity)\nmsg.payload=msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":220,"wires":[["d76f0080.5f826","e2d12d4c.3088d"]]},{"id":"f83ef0ea.e3a48","type":"ui_gauge","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":140,"wires":[]},{"id":"e2d12d4c.3088d","type":"ui_gauge","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":2,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":220,"wires":[]},{"id":"25e4c17a.b7640e","type":"ui_button","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":3,"width":0,"height":0,"passthru":false,"label":"LIGHTON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTON\"}","payloadType":"json","topic":"","x":360,"y":580,"wires":[["4b29a9ad.4bae98"]]},{"id":"33a0d451.2a118c","type":"ui_button","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":4,"width":0,"height":0,"passthru":false,"label":"LIGHTOFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"LIGHTOFF\"}","payloadType":"json","topic":"","x":370,"y":640,"wires":[["4b29a9ad.4bae98"]]},{"id":"4b29a9ad.4bae98","type":"ibmiot out","z":"90a4a45.fb781d8","authentication":"apiKey","apiKey":"de059dde.6fa89","outputType":"cmd","deviceId":"2501","deviceType":"Nishitha_","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":620,"y":600,"wires":[]},{"id":"bd42b645.103978","type":"function","z":"90a4a45.fb781d8","name":"Current","func":"global.set('Current',msg.payload.Current)\nmsg.payload=msg.payload.Current\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":300,"wires":[["d76f0080.5f826","6ac68ba.23a8374"]]},{"id":"6025120b.69f8bc","type":"function","z":"90a4a45.fb781d8","name":"Vibration","func":"global.set('Vibration',msg.payload.Vibration)\nmsg.payload=msg.payload.Vibration\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":380,"wires":[["d76f0080.5f826","bfadbc41.23851"]]},{"id":"6ac68ba.23a8374","type":"ui_gauge","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":4,"width":0,"height":0,"gtype":"gage","title":"Current ","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":300,"wires":[]},{"id":"bfadbc41.23851","type":"ui_gauge","z":"90a4a45.fb781d8","name":"","group":"64312585.cae6bc","order":5,"width":0,"height":0,"gtype":"gage","title":"Vibration","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":380,"wires":[]},{"id":"72e50538.efa1cc","type":"http in","z":"90a4a45.fb781d8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":280,"y":440,"wires":[["6fc83c83.e1e974"]]},{"id":"a1599573.1181b8","type":"http response","z":"90a4a45.fb781d8","name":"","statusCode":"","headers":{},"x":670,"y":440,"wires":[]},{"id":"6fc83c83.e1e974","type":"function","z":"90a4a45.fb781d8","name":"data ","func":"msg.payload={'Temperature':gobal.get(\"Temperature\"),'Humidity':gobal.get(\"Humidity\"),'Current':global.get(\"Current\"),'Vibration':global.get(\"Vibration\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":440,"wires":[["a1599573.1181b8"]]},{"id":"620312f0.8a0f3c","type":"http in","z":"90a4a45.fb781d8","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":280,"y":500,"wires":[["65004b66.0f2f84"]]},{"id":"9e8001b3.9b143","type":"http response","z":"90a4a45.fb781d8","name":"","statusCode":"","headers":{},"x":770,"y":540,"wires":[]},{"id":"65004b66.0f2f84","type":"function","z":"90a4a45.fb781d8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":500,"wires":[["9e8001b3.9b143","6fa3af3f.95ac"]]},{"id":"6fa3af3f.95ac","type":"debug","z":"90a4a45.fb781d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":500,"wires":[]},{"id":"de059dde.6fa89","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"64312585.cae6bc","type":"ui_group","z":"","name":"Default","tab":"e0c671.57e8e99","order":1,"disp":true,"width":"6","collapse":false},{"id":"e0c671.57e8e99","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]